body {
    text-align: center;
    background: #f7d794;
}

#container {
    margin-top: 13%;
}

#rangeA, #rangeB {
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 23px;
    border-radius: 8px;
    transition-duration: .5s;
    box-shadow: 5px 10px black;
}

#rangeA {
    margin-right: 20px;
}

#rangeB {
    margin-left: 20px;
}

#submit {
  border: none;  
  box-shadow: 5px 10px black;
  transition-duration: .5s;
  cursor: pointer;
  width: 45px;
  height: 25px;
}

#rangeA::focus, #rangeB::focus, #submit::focus {
    border: none;
    outline: none;
}

#rangeA:hover, #rangeB:hover, #submit:hover {
    box-shadow: 5px 10px white;
    background: black;
    color: white;
}